
main h1 {
  font-size: 16px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.k_service0 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.k_service0 a {
  text-decoration: none;
}
.k_servicelabel {
  font-size: 24px;
  text-align: center;
}
.k_services {
  background: linear-gradient(180deg, rgba(243, 245, 246, 0) 0, #f3f5f6 100%);
  display: block;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  cursor: none;
  clear: both;
}
.k_services img {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.k_services h3 {
  color: #333;
  font-size: 20.86px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 0;
}
.k_services p {
  margin-bottom: 0;
}
.k_services:active {
  background: #edf2f4;
}

.k_servicelabel i.svg-label {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16,17H5V7H16L19.55,12M17.63,5.84C17.27,5.33 16.67,5 16,5H5A2,2 0 0,0 3,7V17A2,2 0 0,0 5,19H16C16.67,19 17.27,18.66 17.63,18.15L22,12L17.63,5.84Z' fill='%23000'/%3E%3C/svg%3E");
  width: 28px;
  height: 28px;
  vertical-align: -5.5px;
}
/* Responsive */
@media (min-width: 300px) {
  main h1{width:90%}
}
@media (min-width: 360px) {
  main h1{width:90%}
}
@media (max-width: 479.9px) {
  
}
@media (min-width: 480px) {
  
}
@media (min-width: 600px) {
  main h1{width:70%}
  .k_services{max-width: 360px}
}
@media (min-width: 768px) {
  main h1{max-width:70%}
}
