header,.top-info,.k_services,.foot-info h2,.ongoogle {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none
}
header {
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem
}
header a {
  background: linear-gradient(180deg, rgba(243, 245, 246, 0) 0, #f3f5f6 100%);
  cursor: none;
  padding: 4px;
  width: 134px
}
header a:active {
  background: #edf2f4
}
header i.svg-kocek {
  width: 100%;
  height: 33px;
  background-size: contain;
  vertical-align: bottom
}

main {
  clear: both;
  display: block;
  margin: 2rem 0
}

article > h1 > a {color:#333}
article > h1 > a:focus {text-decoration:none}

.clear{clear:both}
.m0{margin:0}
.p0{padding:0}
.text-center{text-align:center}
.text-uppercase{text-transform:uppercase}
.text-lowercase{text-transform:lowercase}
.text-capitalize{text-transform:capitalize}
.fs-small{font-size:small}

ul {
  display: block;
  list-style-type: square;
  margin: 1rem 0;
  padding-left: 40px
}
ul.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0
}
ul.breadcrumb li {
  display: inline;
  font-size: 13px
}
ul.breadcrumb li+li:before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='%2370757a'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 20px;
  vertical-align: -6px;
  width: 20px
}
ul.breadcrumb li a {
  color: #70757a;
  padding: 4px 0
}
ul.breadcrumb li a:hover {
  color: #1a73e8
}
ul.breadcrumb li a:focus {
  text-decoration: none
}
ul.hyphen-minus {
  list-style: none;
  margin: 0;
  padding: 0
}
ul.hyphen-minus li {
  padding-left: 8px
}
ul.hyphen-minus li::before {
  content: "\002D";
  padding-right: 8px
}

blockquote.note {
  background: #ffeaa7;
  border-top: 3px solid rgba(0,0,0,0.1);
  border-bottom: 3px solid rgba(0,0,0,0.1);
  border-radius: 0px;
  color: #333;
  display: block;
  font-weight: 400;
  margin: 1rem 0;
  padding: 13px 16px;
  position: relative
}

.az_service i.svg-link {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.az_service {
  text-align: center;
  margin: 1.5rem 0;
}
.az_service p {
  color: #000;
  margin-bottom: 0;
}
.az_service a {
  color: #000;
  text-decoration: underline;
}

/* TOP INFO */
.top-info {
  background: #deeafd;
  clear: both;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.top-info p {
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}
.top-info p:first-child {
  margin-top: 0
}
.top-info p:last-child {
  margin-bottom: 0
}

.top-info * {
  font-family: monospace, monospace;
  font-size: 0.91rem;
  font-weight: 400;
}

footer{clear:both}
.foot-info {
  background: #273443;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.foot-info h2 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0
}
.foot-info i.icon-xor:after {
  font-size: 27.5px;
  font-weight: 700;
  margin-right: 5px;
}
.foot-info h3 {
  font-size: 16px;
}
.foot-info h3,
.foot-info p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
.foot-info h4 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.17rem;
  margin: 2rem auto 0;
}
.foot-info p {
  font-size: small;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.foot-info ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}
.foot-info ul li a {
  color: rgba(255, 255, 255, 0.85);
}
.foot-info ul li a:hover {
  color: #3490dc;
}
.ongoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.ongoogle a {
  cursor: none;
  padding: 4px;
  width: 100px;
}
.ongoogle a:hover {
  text-decoration: none;
}
.ongoogle a:active {
  background: #edf2f4;
}
.ongoogle a:focus {
  text-decoration:none
}
.ongoogle b {
  color: #70757a;
  font-size: small;
  font-weight: 400;
  text-align: left;
}
.ongoogle i.svg-google {
  width: 100%;
  height: 34px;
  background-size: contain;
  vertical-align: bottom
}

/* i icon svg */
i[class^="icon-"]{font-style:normal}
i[class^="svg-"] {
  content: "";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat
}
i.icon-xor:after {
  content: "\22BB"
}
i.icon-star:after {
  content: "\002A"
}
i.svg-kocek {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='406' viewBox='0 0 304.5 75' height='100' version='1.0'%3E%3Cdefs%3E%3CclipPath id='b'%3E%3Cpath d='M0 .063h75v74.874H0Zm0 0'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath d='M81 .063h223v74.874H81Zm0 0'/%3E%3C/clipPath%3E%3CclipPath id='e'%3E%3Cpath d='M0 0h223v75H0z'/%3E%3C/clipPath%3E%3CclipPath id='h'%3E%3Cpath d='M13 .305h36V27H13Zm0 0'/%3E%3C/clipPath%3E%3CclipPath id='g'%3E%3Cpath d='M0 0h62v32H0z'/%3E%3C/clipPath%3E%3Cmask id='d'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-opacity='.898' d='M-30.45-7.5h365.4v90h-365.4z'/%3E%3C/g%3E%3C/mask%3E%3Cmask id='f'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-opacity='.498' d='M-30.45-7.5h365.4v90h-365.4z'/%3E%3C/g%3E%3C/mask%3E%3Cfilter x='0%25' y='0%25' width='100%25' height='100%25' id='a'%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0' color-interpolation-filters='sRGB'/%3E%3C/filter%3E%3C/defs%3E%3Cg clip-path='url(%23b)'%3E%3Cpath fill='%231da1f2' d='M37.5-.035C16.79-.035 0 16.754 0 37.465c0 20.71 16.79 37.5 37.5 37.5S75 58.175 75 37.465c0-20.711-16.79-37.5-37.5-37.5'/%3E%3C/g%3E%3Cg mask='url(%23d)' clip-path='url(%23c)'%3E%3Cg clip-path='url(%23e)' transform='translate(81)'%3E%3Cpath d='m25.195 43.513 13.657-19.48v-.594H26.016L14.895 39.333V11.572H3.18V63.81h11.715V48.064l11.57 15.746h13.73v-.523ZM86.011 43.662c0-14.403-10.746-21.567-21.492-21.567-10.824 0-21.57 7.164-21.57 21.567 0 14.328 10.824 21.492 21.57 21.492s21.492-7.164 21.492-21.492Zm-31.27 0c0-6.868 4.852-10.301 9.778-10.301 5.371 0 9.7 3.433 9.7 10.3 0 6.79-4.852 10.149-9.7 10.149-4.926 0-9.777-3.36-9.777-10.148ZM131.525 46.646h-11.64c-1.345 4.476-5 6.566-8.583 6.566-4.477 0-8.957-3.281-8.957-9.625 0-6.343 4.48-9.629 8.957-9.629 3.582 0 7.238 2.164 8.582 6.645h11.64c-1.566-11.867-10.894-17.688-20.222-17.688-10.223 0-20.45 7.016-20.45 20.672 0 13.657 10.227 20.672 20.45 20.672 9.328 0 18.656-5.824 20.223-17.613ZM156.816 8.064l-4.7 8.285v1.715h9.625l8.583-9.18v-.82Zm21.57 35.45c0-13.81-10.45-20.673-20.82-20.673-10.524 0-20.899 6.863-20.899 20.672 0 13.805 10.375 20.746 20.82 20.746 8.36 0 16.645-4.406 19.704-13.21h-12.762c-1.715 1.866-4.18 2.76-6.79 2.76-3.581-.073-7.237-1.94-8.655-5.67h28.953a23.28 23.28 0 0 0 .449-4.626Zm-12.836-4.556H149.43c1.195-3.953 4.402-5.894 7.91-5.894 3.809 0 7.09 1.867 8.211 5.894ZM207.707 43.513l13.656-19.48v-.594h-12.836l-11.12 15.894V11.572H185.69V63.81h11.715V48.064l11.57 15.746h13.73v-.523Zm0 0'/%3E%3C/g%3E%3C/g%3E%3Cg mask='url(%23f)'%3E%3Cg clip-path='url(%23g)' transform='translate(6 23)'%3E%3Cg clip-path='url(%23h)'%3E%3Cpath d='M48.378 21.772H13.382v5h34.996ZM13.382 8.624l16.246 12.199h2.551l16.2-13.348v-6.5L30.78 15.725 13.382 2.377Zm0 0' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
i.svg-link {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' fill='%231a73e8'/%3E%3C/svg%3E");
}
i.svg-google {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 272 92' width='272' height='92'%3E%3Cpath fill='%23EA4335' d='M115.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18C71.25 34.32 81.24 25 93.5 25s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44S80.99 39.2 80.99 47.18c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z'/%3E%3Cpath fill='%23FBBC05' d='M163.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18c0-12.85 9.99-22.18 22.25-22.18s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44s-12.51 5.46-12.51 13.44c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z'/%3E%3Cpath fill='%234285F4' d='M209.75 26.34v39.82c0 16.38-9.66 23.07-21.08 23.07-10.75 0-17.22-7.19-19.66-13.07l8.48-3.53c1.51 3.61 5.21 7.87 11.17 7.87 7.31 0 11.84-4.51 11.84-13v-3.19h-.34c-2.18 2.69-6.38 5.04-11.68 5.04-11.09 0-21.25-9.66-21.25-22.09 0-12.52 10.16-22.26 21.25-22.26 5.29 0 9.49 2.35 11.68 4.96h.34v-3.61h9.25zm-8.56 20.92c0-7.81-5.21-13.52-11.84-13.52-6.72 0-12.35 5.71-12.35 13.52 0 7.73 5.63 13.36 12.35 13.36 6.63 0 11.84-5.63 11.84-13.36z'/%3E%3Cpath fill='%2334A853' d='M225 3v65h-9.5V3h9.5z'/%3E%3Cpath fill='%23EA4335' d='M262.02 54.48l7.56 5.04c-2.44 3.61-8.32 9.83-18.48 9.83-12.6 0-22.01-9.74-22.01-22.18 0-13.19 9.49-22.18 20.92-22.18 11.51 0 17.14 9.16 18.98 14.11l1.01 2.52-29.65 12.28c2.27 4.45 5.8 6.72 10.75 6.72 4.96 0 8.4-2.44 10.92-6.14zm-23.27-7.98l19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7-4.95 0-11.84 4.37-11.59 12.93z'/%3E%3Cpath fill='%234285F4' d='M35.29 41.41V32H67c.31 1.64.47 3.58.47 5.68 0 7.06-1.93 15.79-8.15 22.01-6.05 6.3-13.78 9.66-24.02 9.66C16.32 69.35.36 53.89.36 34.91.36 15.93 16.32.47 35.3.47c10.5 0 17.98 4.12 23.6 9.49l-6.64 6.64c-4.03-3.78-9.49-6.72-16.97-6.72-13.86 0-24.7 11.17-24.7 25.03 0 13.86 10.84 25.03 24.7 25.03 8.99 0 14.11-3.61 17.39-6.89 2.66-2.66 4.41-6.46 5.1-11.65l-22.49.01z'/%3E%3C/svg%3E");
}

/* Button */
button.klik {
  background-color: #f3f5f6;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  color: #333;
  cursor: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none
}
button.klik_center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
button.klik:active {
  background-color: #e8f0fe
}

.sticky_bottom {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(255,255,255,0.89);
  bottom: 0;
  padding: 1rem 0;
  position: -webkit-sticky;
  position: sticky
}

/* Responsive */
@media (min-width: 300px) {
  
}
@media (min-width: 360px) {
  
}
@media (max-width: 479.9px) {
  .top-info,.foot-info,blockquote.note,.sticky_bottom {
    margin-left: -8px;
    margin-right: -8px;
  }
}
@media (min-width: 480px) {
  .foot-info,blockquote.note {border-radius:10px}
}
@media (min-width: 600px) {
  .foot-info p{width:70%}
}
@media (min-width: 768px) {
  
}
