:root {
  --svg-cellphone: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
  <path d="M17,19H7V5H17M17,1H7C5.89,1 5,1.89 5,3V21A2,2 0 0,0 7,23H17A2,2 0 0,0 19,21V3C19,1.89 18.1,1 17,1Z"/>\
</svg>'
  );
  --svg-wifi: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
  <path d="M12,21L15.6,16.2C14.6,15.45 13.35,15 12,15C10.65,15 9.4,15.45 8.4,16.2L12,21M12,3C7.95,3 4.21,4.34 1.2,6.6L3,9C5.5,7.12 8.62,6 12,6C15.38,6 18.5,7.12 21,9L22.8,6.6C19.79,4.34 16.05,3 12,3M12,9C9.3,9 6.81,9.89 4.8,11.4L6.6,13.8C8.1,12.67 9.97,12 12,12C14.03,12 15.9,12.67 17.4,13.8L19.2,11.4C17.19,9.89 14.7,9 12,9Z"/>\
</svg>'
  );
  --svg-flash: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
  <path d="M7,2V13H10V22L17,10H13L17,2H7Z"/>\
</svg>'
  );
  --svg-plus-thick: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
  <path d="M20 14H14V20H10V14H4V10H10V4H14V10H20V14Z"/>\
</svg>'
  );
}

main h1 {
  margin-right: auto;
  margin-left: auto;
}

i.svg-cellphone {
  -webkit-mask-image: var(--svg-cellphone);
  mask-image: var(--svg-cellphone);
}
i.svg-wifi {
  -webkit-mask-image: var(--svg-wifi);
  mask-image: var(--svg-wifi);
}
i.svg-flash {
  -webkit-mask-image: var(--svg-flash);
  mask-image: var(--svg-flash);
}
i.svg-plus-thick {
  -webkit-mask-image: var(--svg-plus-thick);
  mask-image: var(--svg-plus-thick);
}
@supports not (
(-webkit-mask-image: var(--b64)) or (mask-image: var(--b64))
){
  i.svg-cellphone {
    background-image: var(--svg-cellphone);
  }
  i.svg-wifi {
    background-image: var(--svg-wifi);
  }
  i.svg-flash {
    background-image: var(--svg-flash);
  }
  i.svg-plus-thick {
    background-image: var(--svg-plus-thick);
  }
}
.k_topup0 {
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  padding: 0;
}
.k_topup1 {
  display: flex;
  overflow-x: auto;
}
.k_topup {
  background: linear-gradient(180deg,rgba(243,245,246,0) 0,#f3f5f6 100%);
  cursor: none;
  padding: 10px;
  transition: background-color 1s;
}
.k_topup:active {
  background: #edf2f4;
  transition: background-color 0s;
}
.k_topup:focus{text-decoration:none}
.k_topup i[class^="svg-"] {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
@supports(-webkit-mask-image: var(--b64)) or (mask-image: var(--b64)) {
  .k_topup i[class^="svg-"]{
    background-color: #273443;
  }
}
.k_topup span {
  display: block;
  color: #555;
  font-size: 0.83rem;
  font-weight: normal;
  margin: 5px 0 0;
  white-space: pre;
}

.k_service0 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.k_service0 a {
  text-decoration: none;
}
.k_servicelabel {
  font-size: 24px;
  margin-top: 3rem;
  text-align: center;
}
.k_services {
  background: linear-gradient(180deg, rgba(243, 245, 246, 0) 0, #f3f5f6 100%);
  display: block;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  cursor: none;
  clear: both;
}
.k_services img {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.k_services h3 {
  color: #333;
  font-size: 20.86px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 0;
}
.k_services p {
  margin-bottom: 0;
}
.k_services:active {
  background: #edf2f4;
}

.k_servicelabel i.svg-label {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16,17H5V7H16L19.55,12M17.63,5.84C17.27,5.33 16.67,5 16,5H5A2,2 0 0,0 3,7V17A2,2 0 0,0 5,19H16C16.67,19 17.27,18.66 17.63,18.15L22,12L17.63,5.84Z' fill='%23000'/%3E%3C/svg%3E");
  width: 28px;
  height: 28px;
  vertical-align: -5.5px;
}
/* Responsive */
@media (min-width: 300px) {
  main h1{width:90%}
}
@media (min-width: 360px) {
  main h1{width:90%}
}
@media (max-width: 479.9px) {
  .k_topup1 {
    margin-right: -8px;
    margin-left: -8px;
  }
}
@media (min-width: 480px) {
  
}
@media (min-width: 600px) {
  main h1{width:70%}
  .k_services{max-width: 360px}
}
@media (min-width: 768px) {
  main h1{max-width:70%}
}
