.img_s {
  display: block;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 360px;
  background: linear-gradient(180deg,rgba(243,245,246,0) 0%,#f3f5f6 100%);
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 1rem;
}

@media(min-width:480px){
  .img_s{width:360px}
}
